{% if bookmarks %}
  <ul class="bookmarks">
  {% for bookmark in bookmarks %}
    <li>
      <a href="{{ bookmark.link.url|escape }}" class="title">
        {{ bookmark.title }}</a>
      {% if show_edit %}
        <a href="/save/?url={{ bookmark.link.url|urlencode }}"
          class="edit">[edit]</a>
      {% endif %}
      <br />
    {% if show_tags %}
      Tags:
      {% if bookmark.tag_set.all %}
        {% for tag in bookmark.tag_set.all %}
            <a href="/tag/{{ tag.name|urlencode }}/">
              {{ tag.name}} </a>&nbsp
        {% endfor %}
      {% else %}
        None.
      {% endif %}
      <br />
    {% endif %}
    {% if show_user %}
      Posted by:
      <a href="/user/{{ bookmark.user.username }}/"
      class="username">
      {{ bookmark.user.username }}</a>
    {% endif %}
    <br>
    </li>
  {% endfor %}
  </ul>
    <div class="pagination">
        <span class="step-links">
            {% if bookmarks.has_previous %}
                <a href="?page={{ bookmarks.previous_page_number }}">previous</a>
            {% endif %}
            {% if bookmarks.has_next %}
                <a href="?page={{ bookmarks.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
{% else %}
  <p>No bookmarks found.</p>
{% endif %}
